<template>
  <tr>
    <th scope="row">
      {{ graph.id }}
    </th>
    <td>
      <router-link :to="{ name: 'Nodes', params: { graphId: id } }">
        {{ graph.title }}
      </router-link>
    </td>
    <td class="text-right">
      <router-link :to="{ name: 'editGraph', params: { id, graphId: graph.graphId } }">
        <font-awesome-icon icon="edit" />
      </router-link>
      <a
        class="ml-4"
        href="#"
        @click.prevent="onRemove('graph')"
      >
        <font-awesome-icon icon="trash" />
      </a>
    </td>
  </tr>
</template>
<script>
import Removable from '@/admin/mixins/removable'
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('graphs')
export default {
  mixins: [Removable],
  props: ['graph'],
  methods: {
    removeResource() {
      this.removeGraph(this.id)
    },
    ...mapActions(['removeGraph'])
  },
  computed: {
    id() {
      return this.graph.id
    }
  }
}
</script>
