<template lang="pug">
  .block.block--light
    .block__header
      | {{ $t('settings.titles.jump') }}
    .block__body.block__body_tall(v-if="loading")
      .v-spinner(v-if="loading")
        loader(color='primary' size="md")
    .block__body(v-else)
      button.button.button--primary.button--sm(v-if="noJumps" @click="onAdd") {{ $t('settings.labels.jumps.add') }}

      empty-placeholder(:text="$t('settings.labels.jumps.placeholder.create')" :title="$t('settings.labels.jumps.placeholder.no')" :className="'empty-placeholder--custom-height2 mt-2'" v-if="noJumps")

      flash-message
      FormWithSpinner(
        :value="$t('settings.labels.jumps.submit')"
        formClassName='admin-jumps'
        submitWrapperClassName='jumps'
        submitButtonClassName='mt-2'
        :onSubmit='validateForm'
      )
        jump(
          v-for="item in this.list"
          :currentJump="item"
          :key="item.id"
          :currentField="currentField"
          :isTextField="isTextField"
          :anotherFields="anotherFields"
        )
        button.button.button--plus.entity-block__branch-btn(
          v-if="!noJumps"
          type="button"
          @click="onAdd")

</template>

<script>
import uuidv4 from 'uuid/v4'
import Jump from './Jump'
import { mapState, mapActions, mapGetters, mapMutations } from 'vuex'
import FormWithSpinner from '@/components/common/FormWithSpinner'
import api from '@/api/admin/Jumps'
import EmptyPlaceholder from '@/components/common/EmptyPlaceholder'

export default {
  name: 'JumpsForm',
  components: { Jump, FormWithSpinner, EmptyPlaceholder },
  created() {
    this.setJumps()
  },
  methods: {
    async submit() {
      let { success, errors } = await api.update({
        id: this.id,
        subdomain: this.subdomain,
        jumps: this.list
      })
      if (!success) {
        return this.flashWarning(errors ? errors[0] : 'API error')
      }
      this.flashSuccess(this.$t('settings.labels.jumps.success'))
      this.updateField({ id: this.id, has_jumps: this.list.length > 0 })
      this.resetFormMode()
    },

    isValidJump(jump) {
      if (['empty', 'not_empty'].includes(jump.matcher)) { return true }
      return this.isTextField ? !!jump.text : !!jump.option_id
    },
    async validateForm() {
      let invalidForm = this.list.find(jump => {
        if (!jump.matcher || !jump.next_step_id) { return true }
        return !this.isValidJump(jump)
      })

      if (invalidForm) {
        return this.flashWarning(this.$t('settings.labels.jumps.invalid_form'))
      }

      await this.submit()
    },

    onAdd() {
      let emptyJump = {
        next_step_id: null,
        report_field_id: this.id,
        option_id: null,
        text: null,
        matcher: null,
        id: uuidv4()
      }
      this.addJump(emptyJump)
    },

    setJumps() {
      this.resetJumps()
      this.fetchJumps({ id: this.id, subdomain: this.subdomain })
    },

    ...mapActions('admin/jumps', ['fetchJumps']),
    ...mapMutations('admin/jumps', ['addJump', 'resetJumps']),
    ...mapMutations('admin/organizationFields', ['resetFormMode', 'updateField'])
  },
  computed: {
    isTextField() {
      return this.currentField.kind == 'text'
    },

    noJumps() {
      return this.list.length === 0
    },

    subdomain() {
      return this.$route.params.subdomain
    },

    ...mapState('admin/organizationFields', { id: 'activeId' }),

    ...mapState('admin/jumps', ['list', 'loading']),

    ...mapGetters('admin/organizationFields', {
      currentField: 'findActiveField',
      anotherFields: 'findFieldsExceptActive'
    })
  },

  watch: {
    id() {
      this.setJumps()
    }
  }
}
</script>
