<template lang='pug'>
.admin-jumps__field_block
  .field(style='margin-top: 15px')
    b {{ $t("settings.labels.jumps.header1") }}
    span {{ currentField.name }}
    button.button.button--remove.entity-block__remove-btn(
      type='button',
      @click='onRemove'
    )
  .field.admin-jumps__fields_row
    .admin-jumps__fields_column.admin-jumps__fields_column_xs
      label {{ $t("settings.labels.jumps.header2") }}
      .admin-jumps__select(style='width: 90%')
        v-select(
          v-model='matcher'
          :options='matcherOptions'
          :clearable='false'
          :filterable='false'
          :searchable='false'
          :reduce='option => option.value'
        )
    input.admin-jumps__fields_column_right(
      type='search'
      v-model='text'
      placeholder='Type here'
      v-if='isTextField && hasMatcherConditionParam'
    )
    .admin-jumps__select.admin-jumps__fields_column_right(
      v-else-if='!isTextField && hasMatcherConditionParam'
    )
      v-select(
        v-model='option_id'
        label='text'
        :options='selectOptions'
        :searchable='false'
        :clearSearchOnSelect='false'
        :clearable='false'
        :reduce='option => option.id'
      )
  .field.admin-jumps__fields_row
    .admin-jumps__fields_column.admin-jumps__fields_column_large
      label(style='width: 18%;') {{ $t("settings.labels.jumps.header3") }}
      .admin-jumps__select(style='width: 80%;')
        v-select(
          v-model='nextField'
          :options='nextFieldOptions'
          :searchable='false'
          :clearSearchOnSelect='false'
          :clearable='false'
          :reduce='(option) => option.id'
        )
</template>
<script>
import { mapMutations } from 'vuex'
export default {
  name: 'JumpItem',

  props: {
    currentJump: Object,
    currentField: Object,
    isTextField: Boolean,
    anotherFields: Array,
  },

  methods: {
    onRemove() {
      this.removeJump(this.currentJump.id)
    },

    updateJump({ name, value }) {
      this.updateJumpById({ id: this.currentJump.id, [name]: value })
    },

    ...mapMutations('admin/jumps', ['updateJumpById', 'removeJump'])
  },

  computed: {
    matcherOptions() {
      let textOpts = [
        { label: 'equal', value: 'eq' },
        { label: 'not equal', value: 'not_eq' },
        { label: 'contains', value: 'contains' },
        { label: 'is empty', value: 'empty' },
        { label: 'is not empty', value: 'not_empty' },
      ]

      let selectOpts = [
        { label: 'is', value: 'eq' },
        { label: 'is not', value: 'not_eq' },
        { label: 'is empty', value: 'empty' },
        { label: 'is not empty', value: 'not_empty' },
      ]

      return this.isTextField ? textOpts : selectOpts
    },

    selectOptions() {
      return this.currentField.options
    },

    nextFieldOptions() {
      return this.anotherFields.map(field => {
        return { id: field.id, label: field.name }
      })
    },

    hasMatcherConditionParam() {
      return this.matcher !== 'empty' && this.matcher !== 'not_empty'
    },

    text: {
      get() {
        return this.currentJump.text
      },

      set(value) {
        this.updateJump({ name: 'text', value })
      }
    },

    matcher: {
      get() {
        return this.currentJump.matcher
      },

      set(value) {
        this.updateJump({ name: 'matcher', value })
      }
    },

    option_id: {
      get() {
        return this.currentJump.option_id
      },

      set(value) {
        this.updateJump({ name: 'option_id', value })
      }
    },

    nextField: {
      get() {
        return this.currentJump.next_step_id
      },

      set(value) {
        this.updateJump({ name: 'next_step_id', value })
      }
    }
  }
}
</script>

