<template>
  <div class="col-2 align-self-center padding-5">
    <select
      v-model="direction"
      class="form-control"
    >
      <option
        v-for="option in options"
        v-bind:key="option.text"
        :value="option.value"
      >
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<script>
import Updatable from '@/admin/mixins/edges/updatable'
export default {
  name: 'Direction',
  mixins: [Updatable],
  data() {
    return ({
      options: [
        { text: 'Forward', value: 'forward' },
        { text: 'Backward', value: 'backward' },
        { text: 'Bidirectional', value: 'both' },
        { text: 'None', value: 'no' }
      ],
      reverseDirections: {
        forward: 'backward',
        backward: 'forward'
      }
    })
  },
  computed: {
    direction: {
      get() {
        return this.displayDirection(this.getEdge.direction)
      },
      set(value) {
        this.setEdge({
          direction: this.displayDirection(value)
        })
      }
    },
    isAuthor() {
      return this.item.from.id === this.nodeId
    }
  },
  methods: {
    displayDirection(value) {
      return this.needReverse(value) ? this.reverseDirection(value) : value
    },
    reverseDirection(value) {
      return this.reverseDirections[value]
    },
    needReverse(value) {
      return !this.isAuthor && this.reverseDirections[value]
    }
  }
}
</script>
