<template>
  <div class="row mt-3">
    <div class="col-5 align-self-center">
      <router-link :to="{ name: 'editNode', params: { graphId: graphId, id: neighbourNode.id }}">
        {{ neighbourTitle }}
      </router-link>
    </div>
    <Direction
      :item="item"
      :node-id="nodeId"
    />
    <Volume
      :item="item"
      :node-id="nodeId"
    />
    <Visibility :item="item" :node-id="nodeId"></Visibility>

    <div class="col-1 align-self-center">
      <a
        href="#"
        @click.prevent="onRemove('connection')"
      >
        <font-awesome-icon icon="trash" />
      </a>
    </div>
  </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
import Direction from './direction'
import Volume from './volume'
import Visibility from './visibility'
import Removable from '@/admin/mixins/removable'
const { mapActions } = createNamespacedHelpers('edges')
export default {
  name: 'Edge',
  components: { Direction, Volume, Visibility },
  mixins: [Removable],
  props: ['item'],
  methods: {
    removeResource() {
      this.removeEdge({ nodeId: this.nodeId, id: this.item.id, graphId: this.graphId })
    },
    ...mapActions(['removeEdge'])
  },
  computed: {
    neighbourTitle() {
      return this.neighbourNode.title
    },
    isAuthor() {
      return this.item.from.id.toString() === this.nodeId.toString()
    },
    neighbourNode() {
      return this.isAuthor ? this.item.to : this.item.from
    },
    graphId() {
      return this.$route.params.graphId
    },
    nodeId() {
      return this.$route.params.id
    }
  }
}
</script>
