<template>
  <div class="col-12">
    <Search />
    <Index />
  </div>
</template>

<script>
import Search from './search'
import Index from './index'

export default {
  name: 'EdgesForm',
  components: { Search, Index }
}
</script>
