<template>
  <div>
    <div class='row mt-5'>
      <div class='col-5'>Title</div>
      <div class='col-2 padding-5'>Direction</div>
      <div class='col-2 padding-5'>Volume</div>
      <div class='col-2 padding-5'>Visibility</div>
    </div>
    <Edge
      v-for="item in edges"
      :key="item.id"
      :item="item"
    />
  </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
import Edge from './edge'
const { mapActions, mapState } = createNamespacedHelpers('edges')

export default {
  name: 'EdgesIndex',
  watch: {
    $route: 'onCreated'
  },
  created() {
    this.onCreated()
  },
  methods: {
    onCreated() {
      this.fetchEdges(this.nodeId)
    },
    ...mapActions(['fetchEdges'])
  },
  computed: {
    nodeId() {
      return this.$route.params.id
    },
    ...mapState(['edges'])
  },
  components: { Edge }
}
</script>
<style>
  .padding-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
</style>
