<template>
  <div class="row">
    <div class="col-10 align-self-center">
      <v-select
        v-model="selected"
        label="title"
        placeholder="Search by node title"
        :options="nodes"
        :reduce="node => node.id"
      />
    </div>
    <div class="col-2 pl-0">
      <button
        class="btn btn-primary"
        :disabled="disabledSubmit"
        @click="onAdd"
      >
        Add
      </button>
    </div>
  </div>
</template>
<script>
import 'vue-select/dist/vue-select.css'
import vSelect from 'vue-select'
import { createNamespacedHelpers } from 'vuex'
import Flash from '@/admin/components/flash'
const { mapState, mapActions, mapMutations } = createNamespacedHelpers('edges')
export default {
  name: 'EdgesSearch',
  components: {
    'v-select': vSelect
  },
  data() {
    return ({
      selected: null
    })
  },
  computed: {
    disabledSubmit() {
      return !this.selected
    },

    currentNodeId() {
      return this.$route.params.id
    },

    ...mapState(['nodes'])
  },

  watch: {
    $route: 'fetchList'
  },
  created() {
    this.fetchList()
  },
  mixins: [Flash],
  methods: {
    clearSelected() {
      this.selected = null
    },
    onAdd() {
      const nodeId = this.currentNodeId
      const toId = this.selected
      const params = { to_id: toId }
      this.createEdge({ nodeId, params })
        .catch((error) => {
          this.flashError(error.response.data.errors)
        }
        )
      this.clearSelected()
    },
    fetchList() {
      this.clearSelected()
      this.fetchNodes({ id: this.currentNodeId, graphId: this.$route.params.graphId })
    },
    ...mapActions(['fetchNodes', 'createEdge']),
    ...mapMutations(['resetState'])
  }
}
</script>
