<template>
  <div class="col-2 align-self-center padding-5">
    <select
      v-model="volume"
      class="form-control"
    >
      <option
        v-for="option in options"
        v-bind:key="option.text"
        :value="option.value"
      >
        {{ option.text }}
      </option>
    </select>
  </div>
</template>
<script>
import Updatable from '@/admin/mixins/edges/updatable'
export default {
  name: 'Volume',
  mixins: [Updatable],
  data() {
    return {
      options: [
        { text: 'None', value: '' },
        { text: 'Low', value: 'low' },
        { text: 'Medium', value: 'medium' },
        { text: 'High', value: 'high' },
        { text: 'Process', value: 'process' }
      ]
    }
  },
  computed: {
    volume: {
      get() {
        return this.getEdge.volume || ''
      },
      set(volume) {
        this.setEdge({ volume })
      }
    }
  }
}
</script>
