<template>
  <div class="row">
    <div class="col-12">
      <form @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="titleInput">Title</label>
          <SizeWarning :length="titlesLength" :size="form.size" />
          <VueTrix
            v-model="form.title"
            class="node-form__titleInput"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pagesInput">Articles</label>
            <v-select
              v-model="form.page_ids"
              multiple
              label="title"
              placeholder="Search by article title"
              :options="pages"
              :reduce="page => page.id"
              :selectable="option => !form.page_ids.includes(option.id)"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="position_x">Position (X, Y)</label>
            <div class="row">
              <div class="col-md-6">
                <input
                  v-model="form.x"
                  type="number"
                  class="form-control"
                  @input="onNumberInput('x')"
                >
              </div>
              <div class="col-md-6">
                <input
                  v-model="form.y"
                  type="number"
                  class="form-control"
                  @input="onNumberInput('y')"
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="templateInput">Template</label>
            <select
              id="templateInput"
              v-model="form.template_id"
              class="form-control"
            >
              <option value="">- No template -</option>
              <option
                v-for="template in templates"
                :key="template.id"
                :value="template.id"
              >
                {{ template.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="shapeInput">Shape</label>
            <select
              id="shapeInput"
              v-model="form.shape"
              class="form-control"
              :disabled="templated"
            >
              <option
                v-for="option in shapeOptions"
                :key="option.text"
                :value="option.value"
              >
                {{ option.text }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="sizeInput">Size</label>
            <select
              id="sizeInput"
              v-model.number="form.size"
              class="form-control"
              :disabled="templated"
            >
              <option
                v-for="n in sizeOptions"
                v-bind:key="n"
                :value="n"
              >
                {{ n }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="colorInput">Color</label>
            <input
              v-model="form.color"
              type="color"
              class="form-control"
              :disabled="templated"
            >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="form-check">
              <input v-model="form.shadow" type="checkbox" id="shadowInput" class="form-check-input">
              <label class="form-check-label" for="shadowInput">Shadow</label>
            </div>
          </div>
        </div>
        <button
          type="submit"
          :disabled="!isValid"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import { isEmpty } from 'lodash'
import vSelect from 'vue-select'
import VueTrix from 'vue-trix'
import PagesApi from '@/admin/api/pages'
import NodesApi from '@/admin/api/nodes'
import TemplatesApi from '@/admin/api/templates'
import Resourceable from '@/admin/mixins/resourceable'
import SizeWarning from '@/admin/components/nodes/size-warning'
import { mapGetters } from 'vuex'

export default {
  name: 'NodeEditor',
  components: {
    SizeWarning,
    VueTrix,
    'v-select': vSelect
  },
  mixins: [Resourceable],
  props: {
    id: [Number, String],
    graphId: [Number, String],
    template_id: Number
  },

  data() {
    return ({
      resource: {
        api: NodesApi,
        baseApiParams: { graphId: this.graphId },
        title: 'Node',
        i18n_title: 'Node'
      },

      pages: [],

      templates: [],

      form: {
        title: '',
        x: 0,
        y: 0,
        size: 4,
        shape: 'circle',
        page_ids: [],
        color: '',
        shadow: false,
        template_id: null
      },

      validations: {
        required: ['title', 'x', 'y', 'size', 'shape']
      },

      shapeOptions: [
        { text: 'Circle', value: 'circle' },
        { text: 'Rectangle', value: 'rectangle' },
        { text: 'Square', value: 'square' },
        { text: 'Wide Rectangle', value: 'wide_rectangle' },
        { text: 'Extra Wide Rectangle', value: 'extra_wide_rectangle' }
      ]
    })
  },

  computed: {
    titlesLength() {
      return this.stringField('title').length
    },

    formParams() {
      return {
        title: this.stringField('title'),
        x: (this.form.x).toString(),
        y: (this.form.y).toString(),
        size: (this.form.size || '').toString(),
        shape: this.form.shape,
        page_ids: this.form.page_ids,
        color: this.form.color,
        shadow: this.form.shadow,
        template_id: this.form.template_id
      }
    },

    sizeOptions() {
      return Object.keys(this.graphNodeSizes)
    },

    templated() {
      console.log('templated', this.form.template_id)
      return this.form.template_id !== '' && this.form.template_id !== null
    },

    ...mapGetters('graphs', ['graphNodeSizes', 'graphNodeColor'])
  },

  watch: {
    $route: 'fetchPages',
    graphNodeColor(val) { this.setColor(val) }
  },

  created() {
    this.fetchPages()
    this.fetchTemplates()

    if (this.graphNodeColor) {
      this.setColor(this.graphNodeColor)
    }
  },

  methods: {
    setColor(val) {
      if (isEmpty(this.form.color)) {
        this.form.color = val
      }
    },

    afterResourceFetched() {
      this.setColor(this.graphNodeColor)
    },

    fetchPages() {
      PagesApi.search().then((result) => {
        this.pages = result.data
      })
    },

    fetchTemplates() {
      TemplatesApi.index().then((result) => {
        this.templates = result.data
      })
    },

    onNumberInput(name) {
      const maxLength = 8
      if (this.form[name].length > maxLength) {
        this.form[name] = this.form[name].slice(0, maxLength)
      }
    }
  }

}
</script>
