<template>
  <tr>
    <th scope="row">
      {{ node.id }}
    </th>
    <td v-html="node.title"></td>
    <td v-html="node.template_name"></td>
    <td class="text-right">
      <router-link :to="{ name: 'editNode', params: { id: node.id, graphId: node.graph_id } }">
        <font-awesome-icon icon="edit" />
      </router-link>
      <a
        class="ml-4"
        href="#"
        @click.prevent="onRemove('node')"
      >
        <font-awesome-icon icon="trash" />
      </a>
    </td>
  </tr>
</template>
<script>
import Removable from '@/admin/mixins/removable'
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('nodes')
export default {
  mixins: [Removable],
  props: ['node', 'graphId'],
  methods: {
    removeResource() {
      this.removeNode({ graphId: this.graphId, id: this.node.id })
    },
    ...mapActions(['removeNode'])
  }
}
</script>
