<template>
  <small v-if="limit" class='text-warning float-right'>{{ message }}</small>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'SizeWarning',
  props: {
    length: {
      type: Number,
      required: true
    },
    size: {
      type: Number,
      required: true
    }
  },
  computed: {
    limit() {
      return this.graphNodeSizes[this.size]
    },
    message() {
      return `${this.limit - this.length} characters left`
    },
    ...mapGetters('graphs', ['graphNodeSizes'])
  }
}
</script>
